In [1]:
"""
We have the following data given for the problem:
Jan-2010,867884
Feb-2010,984655
Mar-2010,322013
Apr-2010,-69417
May-2010,310503
Jun-2010,522857
Jul-2010,1033096
Aug-2010,604885
Sep-2010,-216386
Oct-2010,477532
Nov-2010,893810
Dec-2010,-80353
Jan-2011,779806
Feb-2011,-335203
Mar-2011,697845
Apr-2011,793163
May-2011,485070
Jun-2011,584122
Jul-2011,62729
Aug-2011,668179
Sep-2011,899906
Oct-2011,834719
Nov-2011,132003
Dec-2011,309978
Jan-2012,-755566
Feb-2012,1170593
Mar-2012,252788
Apr-2012,1151518
May-2012,817256
Jun-2012,570757
Jul-2012,506702
Aug-2012,-1022534
Sep-2012,475062
Oct-2012,779976
Nov-2012,144175
Dec-2012,542494
Jan-2013,359333
Feb-2013,321469
Mar-2013,67780
Apr-2013,471435
May-2013,565603
Jun-2013,872480
Jul-2013,789480
Aug-2013,999942
Sep-2013,-1196225
Oct-2013,268997
Nov-2013,-687986
Dec-2013,1150461
Jan-2014,682458
Feb-2014,617856
Mar-2014,824098
Apr-2014,581943
May-2014,132864
Jun-2014,448062
Jul-2014,689161
Aug-2014,800701
Sep-2014,1166643
Oct-2014,947333
Nov-2014,578668
Dec-2014,988505
Jan-2015,1139715
Feb-2015,1029471
Mar-2015,687533
Apr-2015,-524626
May-2015,158620
Jun-2015,87795
Jul-2015,423389
Aug-2015,840723
Sep-2015,568529
Oct-2015,332067
Nov-2015,989499
Dec-2015,778237
Jan-2016,650000
Feb-2016,-1100387
Mar-2016,-174946
Apr-2016,757143
May-2016,445709
Jun-2016,712961
Jul-2016,-1163797
Aug-2016,569899
Sep-2016,768450
Oct-2016,102685
Nov-2016,795914
Dec-2016,60988
Jan-2017,138230
Feb-2017,671099
"""

'\nWe have the following data given for the problem:\nJan-2010,867884\nFeb-2010,984655\nMar-2010,322013\nApr-2010,-69417\nMay-2010,310503\nJun-2010,522857\nJul-2010,1033096\nAug-2010,604885\nSep-2010,-216386\nOct-2010,477532\nNov-2010,893810\nDec-2010,-80353\nJan-2011,779806\nFeb-2011,-335203\nMar-2011,697845\nApr-2011,793163\nMay-2011,485070\nJun-2011,584122\nJul-2011,62729\nAug-2011,668179\nSep-2011,899906\nOct-2011,834719\nNov-2011,132003\nDec-2011,309978\nJan-2012,-755566\nFeb-2012,1170593\nMar-2012,252788\nApr-2012,1151518\nMay-2012,817256\nJun-2012,570757\nJul-2012,506702\nAug-2012,-1022534\nSep-2012,475062\nOct-2012,779976\nNov-2012,144175\nDec-2012,542494\nJan-2013,359333\nFeb-2013,321469\nMar-2013,67780\nApr-2013,471435\nMay-2013,565603\nJun-2013,872480\nJul-2013,789480\nAug-2013,999942\nSep-2013,-1196225\nOct-2013,268997\nNov-2013,-687986\nDec-2013,1150461\nJan-2014,682458\nFeb-2014,617856\nMar-2014,824098\nApr-2014,581943\nMay-2014,132864\nJun-2014,448062\nJul-2014,689161\nAug-2014,800701\nSep-2014,1166643\nOct-2014,947333\nNov-2014,578668\nDec-2014,988505\nJan-2015,1139715\nFeb-2015,1029471\nMar-2015,687533\nApr-2015,-524626\nMay-2015,158620\nJun-2015,87795\nJul-2015,423389\nAug-2015,840723\nSep-2015,568529\nOct-2015,332067\nNov-2015,989499\nDec-2015,778237\nJan-2016,650000\nFeb-2016,-1100387\nMar-2016,-174946\nApr-2016,757143\nMay-2016,445709\nJun-2016,712961\nJul-2016,-1163797\nAug-2016,569899\nSep-2016,768450\nOct-2016,102685\nNov-2016,795914\nDec-2016,60988\nJan-2017,138230\nFeb-2017,671099\n'

In [18]:
data = {
   "Jan-2010" :867884,
   "Feb-2010" :984655,
   "Mar-2010" :322013,
   "Apr-2010" :-69417,
   "May-2010" :310503,
   "Jun-2010" :522857,
   "Jul-2010" :1033096,
   "Aug-2010" :604885,
   "Sep-2010" :-216386,
   "Oct-2010" :477532,
   "Nov-2010" :893810,
   "Dec-2010" :-80353,
   "Jan-2011" :779806,
   "Feb-2011" :-335203,
   "Mar-2011" :697845,
   "Apr-2011" :793163,
   "May-2011" :485070,
   "Jun-2011" :584122,
   "Jul-2011" :62729,
   "Aug-2011" :668179,
   "Sep-2011" :899906,
   "Oct-2011" :834719,
   "Nov-2011" :132003,
   "Dec-2011" :309978,
   "Jan-2012" :-755566,
   "Feb-2012" :1170593,
   "Mar-2012" :252788,
   "Apr-2012" :1151518,
   "May-2012" :817256,
   "Jun-2012" :570757,
   "Jul-2012" :506702,
   "Aug-2012" :-102253,
   "Sep-2012" :475062,
   "Oct-2012" :779976,
   "Nov-2012" :144175,
   "Dec-2012" :542494,
   "Jan-2013":359333,
   "Feb-2013" :321469,
   "Mar-2013" :67780,
   "Apr-2013" :471435,
   "May-2013" :565603,
   "Jun-2013" :872480,
   "Jul-2013" :789480,
   "Aug-2013" :999942,
   "Sep-2013" :-119622,
   "Oct-2013" :268997,
   "Nov-2013" :-687986,
   "Dec-2013" :1150461,
   "Jan-2014" :682458,
   "Feb-2014" :617856,
   "Mar-2014" :824098,
   "Apr-2014" :581943,
   "May-2014" :132864,
   "Jun-2014" :448062,
   "Jul-2014" :689161,
   "Aug-2014" :800701,
   "Sep-2014" :1166643,
   "Oct-2014" :947333,
   "Nov-2014" :578668,
   "Dec-2014" :988505,
   "Jan-2015" :1139715,
   "Feb-2015" :1029471,
   "Mar-2015" :687533,
   "Apr-2015" :-524626,
   "May-2015" :158620,
   "Jun-2015" :87795,
   "Jul-2015" :423389,
   "Aug-2015" :840723,
   "Sep-2015" :568529,
   "Oct-2015" :332067,
   "Nov-2015" :989499,
   "Dec-2015" :778237,
   "Jan-2016" :650000,
   "Feb-2016" :-110038,
   "Mar-2016" :-174946,
   "Apr-2016" :757143,
   "May-2016" :445709,
   "Jun-2016" :712961,
   "Jul-2016" :-116379,
   "Aug-2016" :569899,
   "Sep-2016" :768450,
   "Oct-2016" :102685,
   "Nov-2016" :795914,
   "Dec-2016" :60988,
   "Jan-2017" :138230,
   "Feb-2017" :671099,
}

In [15]:
#The total number of months included in the dataset.
total_months = 0 
for i in data:
    total_months += 1

86

In [8]:
#The net total amount of Profit/Losses over the entire period. 
net_total = 0 
for i in data:
    key = data[i]
    net_total += key

42417229

In [52]:
#The average of the changes in Profit/Losses over the entire period.
list_keys = [] 
first = -1
second = 0
change = 0 
total_change = 0 
for key,value in data.items():
    list_keys += [value]


for i in list_keys:
    first += 1
    second += 1
    if second == len(list_keys):
        break
    else:
        change = (list_keys[second] - list_keys[first])
        total_change += change 
average_change = (total_change/len(list_keys))
round_average_change = round(average_change, 2)

86
-2288.2

In [46]:
first = -1
second = 0
change = 0 
total_change = 0 
change_list = []

for i in list_keys:
    first += 1
    second += 1
    if second == len(list_keys):
        break
    else:
        change = (list_keys[second] - list_keys[first])
        change_list += [change]
max_change = max(change_list)
min_change = min(change_list)

1926159
-1212159

In [49]:
max_count = -1
for i in change_list:
    max_count += 1
    if max_change == change_list[max_count]:
        max_position = max_count + 1
        break
min_count = -1
for i in change_list:
    min_count += 1
    if min_change == change_list[min_count]:
        min_position = min_count + 1
        break

25 63

In [56]:
key_count = -1
for key,value in data.items():
    key_count += 1
    if key_count == max_position:
        max_key = key
    if key_count == min_position:
        min_key = key

In [55]:
print("Financial Analysis")
print("----------------------------")
print(f"Total Months: {total_months}")
print(f"Total: {net_total}")
print(f"Average Change: ${round_average_change}")
print(f"Greatest Increase in Profits: {max_key} (${max_change})")
print(f"Greatest Decrease in Profits: {min_key} (${min_change})")

Financial Analysis
----------------------------
Total Months: 86
Total: 42417229
Average Change: $-2288.2
Greatest Increase in Profits: Feb-2012 ($1926159)
Greatest Decrease in Profits: Apr-2015 ($-1212159)